%body
  %header.header-area.header-sticky.text-center.header-default
    .header-main-sticky
      .header-nav
        .container
          .nav-left.float-left
            - if user_signed_in?
              .ttheader-service
                Welcome
                - if current_user.present?
                  = current_user.full_name
          .nav-right.float-right.d-flex
            .ttheader-mail
              %a{href: "mailto:demo.store@gmail.com"} demo.store@gmail.com
      .header-main-head
        .header-main
          .container
            .header-left.float-left.d-flex.d-lg-flex.d-md-block.d-xs-block
              .language-wrapper.toggle
                %button.btn.text-capitalize.dropdown-toggle{type: "button"}
                  %img{alt: "en", height: "12", src: asset_path('banner/en.png'), width: "18"}/
                  %span English
                #language-dropdown.language
                  %ul
                    %li
                      %img{alt: "en", height: "12",src: asset_path('banner/en.png'), width: "18"}/
                      %span English
                    %li
                      %img{alt: "gu", height: "12", src: asset_path('banner/in.png'), width: "18"}/
                      %span Gujrati
              .contact
                %i.material-icons phone
                %a{href: "tel:+1234567890"} 1234567890
            .header-middle.float-lg-left.float-md-left.float-sm-left.float-xs-none
              .logo
                = link_to root_path do
                  %img{alt: "logo", height: "50", src: asset_path('logos/logo.png'), width: "200"}/
            .header-right.d-flex.d-xs-flex.d-sm-flex.justify-content-end.float-right
              .search-wrapper
                %a
                  %i.material-icons.search search
                  %i.material-icons.close close
                %form.search-form{action: "/action_page.php", autocomplete: "off"}
                  .autocomplete
                    %input#myInput{name: "myCountry", placeholder: "Search here", type: "text"}/
                    %button{type: "button"}
                      %i.material-icons search
              .user-info
                %button.btn{type: "button"}
                  %i.material-icons perm_identity
                #user-dropdown.user-menu
                  %ul
                    - if user_signed_in?
                      %li
                        = link_to "My Account", "my-account.html", class: "text-capitalize"
                    %li
                      %a.modal-view.button{href: new_user_registration_path} Register
                    %li
                      %a.modal-view.button{href: new_user_session_path} login
                    - if user_signed_in?
                      %li
                      = link_to 'Sign Out', destroy_user_session_path, method: :delete
              - if user_signed_in?
                .cart-wrapper
                  %button.btn{type: "button"}
                    %i.material-icons shopping_cart
                    %span.ttcount 2
                  #cart-dropdown.cart-menu
                    %ul.w-100.float-left
                      %li
                        %table.table.table-striped
                          %tbody
                            %tr
                              %td.text-center
                                %a{href: "#"}
                                  %img{alt: "01", height: "104", src: asset_path('products/01.jpg'), title: "01", width: "80"}/
                              %td.text-left.product-name
                                %a{href: "#"} aliquam quaerat voluptatem
                                .quantity.float-left.w-100
                                  %span.cart-qty 1 ×
                                  %span.text-left.price $20.00
                              %td.text-center.close
                                %a.close-cart
                                  %i.material-icons close
                      %li
                        %table.table.price.mb-30
                          %tbody
                            %tr
                              %td.text-left
                                %strong Total
                              %td.text-right
                                %strong $2,122.00
                      %li.buttons.w-100.float-left
                        %form{action: "cart_page.html"}
                          %input.btn.pull-left.mt_10.btn-primary.btn-rounded.w-100{type: "submit", value: "View cart"}/
                        %form{action: "checkout_page.html"}
                          %input.btn.pull-right.mt_10.btn-primary.btn-rounded.w-100{type: "submit", value: "Checkout"}/
        .menu
          .container
            / Navbar
            %nav.navbar.navbar-expand-lg.navbar-light.d-sm-none.d-xs-none.d-lg-block.navbar-full
              / Navbar brand
              %a.navbar-brand.text-uppercase.d-none{href: "#"} Navbar
              / Collapse button
              %button.navbar-toggler{"aria-controls" => "navbarSupportedContent2", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent2", "data-toggle" => "collapse", type: "button"}
                %span.navbar-toggler-icon
              / Collapsible content
              .collapse.navbar-collapse
                / Links
                %ul.navbar-nav.m-auto.justify-content-center
                  %li.nav-item.dropdown.mega-dropdown
                    %a.nav-link.text-uppercase{href: products_path} Products
                  %li.nav-item.dropdown
                    %a.nav-link.text-uppercase{href: "blog-details.html"} Blog
                  %li.nav-item.dropdown
                    %a.nav-link.dropdown-toggle.text-uppercase more
                    .dropdown-menu.mega-menu.v-2.z-depth-1.special-color.py-3.px-3
                      .sub-menu
                        %ul.list-unstyled
                          %li
                            %a.menu-item.pl-0{href: "about-us.html"}
                              About us
                          %li
                            %a.menu-item.pl-0{href: "contact-us.html"}
                              Contact us
