%body
  %nav.w-100.float-left{"aria-label" => "breadcrumb"}
    %ol.breadcrumb.parallax.justify-content-center{"data-source-url" => asset_path('banner/parallax.jpg'), style: "background-image: url('#{asset_path('banner/parallax.jpg')}'); background-position: 50% 0.809717%;"}
      %li.breadcrumb-item
        = link_to root_path do
          Home
      %li.breadcrumb-item.active{"aria-current" => "page"} blog-details
  .main-content.w-100.float-left.blog-detail
    .container
      .row
        .products-grid.col-xl-9.col-lg-9.order-lg-2.blog-details
          .row
            .ttblog.col-sm-12.col-xs-12.float-left
              .item
                .ttblog_image_holder
                  %img{alt: "blog-01", src: asset_path('banner/blog-01.jpg')}/
                .blog-content-wrap
                  .blog_inner
                    %h4.blog-title Share the Love
                    .post-info.d-flex
                      %span.author.d-flex
                        %i.material-icons perm_identity
                        %span admin
                      %span.date.d-flex
                        %i.material-icons date_range
                        %span 12 june 2019
                      %span.article.d-flex
                        %i.material-icons folder
                        %span categories
                    .blog-desc
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan tristique erat et fermentum. Nulla facilisi. Proin tristique vitae dui nec sodales. Maecenas cursus odio sed erat varius, in ultricies purus blandit. Nam finibus lectus mi, eget molestie est lacinia molestie. Curabitur eget fermentum ipsum. Aliquam venenatis maximus ante, et volutpat enim congue non. Cras at rutrum metus. Praesent in accumsan sapien, eu posuere sem. Integer rutrum libero eget sollicitudin porttitor. Duis porttitor felis sit amet neque tincidunt pharetra. Curabitur eget urna dignissim, faucibus tortor sed, iaculis nunc.
                      %blockquote consectetur adipiscing elit. In rutrum odio urna, vitae ultrices mi malesuada ut. Praesent lacus erat, ultricies ut risus nec, pellentesque interdum purus. In mi justo, consectetur tincidunt sapien eget, venenatis volutpat risus. Maecenas eget pretium eros. Integer tincidunt aliquet ligula in vulputate. Ut ut justo facilisis, vulputate augue vel, vestibulum tortor. Nullam varius lacus non porttitor sodales. Vivamus ultricies est vitae pharetra convallis. Sed suscipit, nisi sit amet tempus mollis, mauris ante tempor risu
                      Curabitur sit amet mauris auctor, tempor lacus ut, pretium turpis. Nulla dapibus, orci vel malesuada porta, augue justo interdum felis, sit amet molestie tellus lorem vitae mauris. Quisque metus turpis, suscipit mattis enim vitae, iaculis feugiat tellus. Nullam tempor tortor neque, eu vestibulum turpis tempor tempus. Phasellus tempus, tortor vitae pellentesque pellentesque, orci ipsum eleifend turpis, in aliquam magna augue non neque. Praesent elementum mollis metus at maximus. Nulla eu lacus sollicitudin, auctor odio vel, ornare ligula. Proin a dictum metus. In viverra, ipsum ut vehicula tincidunt, sapien justo tristique massa, eu lobortis neque nulla sit amet nisi. Proin vitae nunc ut ligula sodales dignissim a quis enim. Sed condimentum metus et dignissim efficitur. Cras nec sapien eget est rhoncus euismod.
            .post-comment-area.pt-90.scroll-area.col-sm-12.col-xs-12
              %h4.post-title 3 comments
              .post-comment-container
                .single-post-comment.float-left.w-100
                  .single-post-image.float-left
                    %img{alt: "", src: asset_path('logos/author.jpg')}/
                  .single-post-content
                    .single-post-info.float-left
                      %a{href: "#"} admin
                      %span October 6, 2018 at 1:38 am
                      %p just a nice post
                    %button.float-right.btn-primary.btn{type: "button"} reply
                .single-post-comment.float-left.w-100
                  .single-post-image.float-left
                    %img{alt: "", src: asset_path('logos/author.jpg')}/
                  .single-post-content
                    .single-post-info.float-left
                      %a{href: "#"} demo
                      %span October 6, 2018 at 1:38 am
                      %p Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur
                    %button.float-right.btn-primary.btn{type: "button"} reply
                .single-post-comment.float-left.w-100
                  .single-post-image.float-left
                    %img{alt: "", src: asset_path('logos/author.jpg')}/
                  .single-post-content
                    .single-post-info.float-left
                      %a{href: "#"} admin
                      %span October 6, 2018 at 1:38 am
                      %p Quisque orci nibh, porta vitae sagittis sit amet, vehicula vel mauris. Aenean at justo dolor. Fusce ac sapien bibendum, scelerisque libero nec
                    %button.float-right.btn-primary.btn{type: "button"} reply
            %form.post-comment-form.col-sm-12{action: "#"}
              %h4.post-title Leave a Reply
              %p Your email address will not be published. Required fields are marked *
              .row
                .col-lg-4
                  %label{for: "post-name"}
                    Name
                    %span.required *
                  %input#post-name.w-100{required: "", type: "text"}/
                .col-lg-4
                  %label{for: "post-email"}
                    Email
                    %span.required *
                  %input#post-email.w-100{required: "", type: "email"}/
                .col-lg-4
                  %label{for: "post-website"} Website
                  %input#post-website.w-100{required: "", type: "text"}/
              %label{for: "post-text"} Comment
              %textarea#post-text.w-100{cols: "30", name: "post-comment", rows: "10"}
              %button.default-btn.btn-primary.btn{type: "submit"} post comment
        .sidebar.col-xl-3.col-lg-3.order-lg-1
          .sidebar-blog.left-sidebar.w-100.float-left
            .title
              %a.d-lg-none.block-toggler{"aria-controls" => "sidebar-blog", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#sidebar-blog"} Recent Posts
            %h3.widget-title.text-capitalize recent posts
            #sidebar-blog
              .ttblog.w-100.float-left
                .item
                  .ttblog_image_holder.col-sm-4.float-left
                    %a{href: "#"}
                      %img{alt: "blog-01", src: asset_path('banner/blog-01.jpg')}/
                  .blog-content-wrap.col-sm-8.float-right
                    .blog_inner
                      %h4.blog-title Share the Love
                      .post-info.d-flex
                        %span.date.d-flex
                          %i.material-icons date_range
                          %span 12 june 2019
              .ttblog.w-100.float-left
                .item
                  .ttblog_image_holder.col-sm-4.float-left
                    %img{alt: "blog-02", src: asset_path('banner/blog-02.jpg')}/
                  .blog-content-wrap.col-sm-8.float-right
                    .blog_inner
                      %h4.blog-title Upon of seasons earth
                      .post-info.d-flex
                        %span.date.d-flex
                          %i.material-icons date_range
                          %span 12 june 2019
          .sidebar-categories.left-sidebar.w-100.float-left
            .title
              %a.d-lg-none.block-toggler{"aria-controls" => "sidebar-categories", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#sidebar-categories"} Recent Posts
            %h3.widget-title.text-capitalize blog categories
            #sidebar-categories
              %ul.list
                %li
                  %a{href: "#"} fashion trends
                %li
                  %a{href: "#"} features
                %li
                  %a{href: "#"} latest style
                %li
                  %a{href: "#"} beauty &amp; makeup
          .sidebar-tags.left-sidebar.w-100.float-left
            .title
              %a.d-lg-none.block-toggler{"aria-controls" => "sidebar-tags", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#sidebar-tags"} Recent Posts
            %h3.widget-title.text-capitalize blog tags
            #sidebar-tags
              %ul.list
                %li
                  %a{href: "#"} fashion
                %li
                  %a{href: "#"} cosmetic
                %li
                  %a{href: "#"} shoes
                %li
                  %a{href: "#"} beauty
                %li
                  %a{href: "#"} makeup
                %li
                  %a{href: "#"} accessories
          .sidebar-archive.left-sidebar.w-100.float-left
            .title
              %a.d-lg-none.block-toggler{"aria-controls" => "sidebar-archive", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#sidebar-archive"} Recent Posts
            %h3.widget-title.text-capitalize archive
            #sidebar-archive
              %ul.list
                %li
                  %a{href: "#"} june 2019
                %li
                  %a{href: "#"} january 2019
                %li
                  %a{href: "#"} february 2018
  / Register modal
  #modalRegisterForm.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header.text-center
          %h4.modal-title.w-100.font-weight-medium.text-left Sign up
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.mx-3
          .md-form.mb-4
            %input#RegisterForm-name.form-control.validate{placeholder: "Your name", type: "text"}/
          .md-form.mb-4
            %input#RegisterForm-email.form-control.validate{placeholder: "Your email", type: "email"}/
          .md-form.mb-4
            %input#RegisterForm-pass.form-control.validate{placeholder: "Your password", type: "password"}/
          .checkbox-link.d-flex.justify-content-between
            .left-col
              %input#remember-me{type: "checkbox"}/
              %label{for: "remember_me"} Remember Me
            .right-col
              %a{href: "#"} Forget Password?
        .modal-footer.d-flex.justify-content-center
          %button.btn.btn-primary Sign up
  / Login modal
  #modalLoginForm.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header.text-center
          %h4.modal-title.w-100.font-weight-medium.text-left Sign in
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.mx-3
          .md-form.mb-4
            %input#LoginForm-name.form-control.validate{placeholder: "Your name", type: "text"}/
          .md-form.mb-4
            %input#LoginForm-pass.form-control.validate{placeholder: "Your password", type: "password"}/
          .checkbox-link.d-flex.justify-content-between
            .left-col
              %input#remember_me{type: "checkbox"}/
              %label{for: "remember_me"} Remember Me
            .right-col
              %a{href: "#"} Forget Password?
        .modal-footer.d-flex.justify-content-center
          %button.btn.btn-primary Sign in
  / product_view modal
  #product_view.modal.fade.product_view{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title.w-100w-100w-100.font-weight-bold.d-none Quick view
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .row
            .col-md-6.left-columm
              .product-large-image.tab-content
                #product-1.tab-pane.active{"aria-labelledby" => "product-tab-1", role: "tabpanel"}
                  .single-img.img-full
                    %a{href: "img/products/01.jpg"}
                      %img.img-fluid{alt: "", src: asset_path('products/01.jpg')}/
                #product-2.tab-pane{"aria-labelledby" => "product-tab-2", role: "tabpanel"}
                  .single-img
                    %a{href: "img/products/02.jpg"}
                      %img.img-fluid{alt: "", src: asset_path('products/02.jpg')}/
                #product-3.tab-pane{"aria-labelledby" => "product-tab-3", role: "tabpanel"}
                  .single-img
                    %a{href: "img/products/03.jpg"}
                      %img.img-fluid{alt: "", src: asset_path('products/03.jpg')}/
                #product-4.tab-pane{"aria-labelledby" => "product-tab-4", role: "tabpanel"}
                  .single-img
                    %a{href: "img/products/04.jpg"}
                      %img.img-fluid{alt: "", src: asset_path('products/04.jpg')}/
                #product-5.tab-pane{"aria-labelledby" => "product-tab-5", role: "tabpanel"}
                  .single-img
                    %a{href: "img/products/05.jpg"}
                      %img.img-fluid{alt: "", src: asset_path('products/05.jpg')}/
              .small-image-list.float-left.w-100
                .nav-add.small-image-slider-single-product-tabstyle-3.owl-carousel{role: "tablist"}
                  .single-small-image.img-full
                    %a#product-tab-1.img.active{"data-toggle" => "tab", href: "#product-1"}
                      %img.img-fluid{alt: "", src: asset_path('products/01.jpg')}/
                  .single-small-image.img-full
                    %a#product-tab-2.img{"data-toggle" => "tab", href: "#product-2"}
                      %img.img-fluid{alt: "", src: asset_path('products/02.jpg')}/
                  .single-small-image.img-full
                    %a#product-tab-3.img{"data-toggle" => "tab", href: "#product-3"}
                      %img.img-fluid{alt: "", src: asset_path('products/03.jpg')}/
                  .single-small-image.img-full
                    %a#product-tab-4.img{"data-toggle" => "tab", href: "#product-4"}
                      %img.img-fluid{alt: "", src: asset_path('products/04.jpg')}/
                  .single-small-image.img-full
                    %a#product-tab-5.img{"data-toggle" => "tab", href: "#product-5"}
                      %img.img-fluid{alt: "", src: asset_path('products/05.jpg')}/
            .col-md-6.product_content
              %h4.product-title.text-capitalize aliquam quaerat voluptatem
              .rating
                .product-ratings.d-inline-block.align-middle
                  %span.fa.fa-stack
                    %i.material-icons star
                  %span.fa.fa-stack
                    %i.material-icons star
                  %span.fa.fa-stack
                    %i.material-icons star
                  %span.fa.fa-stack
                    %i.material-icons.off star
                  %span.fa.fa-stack
                    %i.material-icons.off star
              %span.description.float-left.w-100 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              %h3.price.float-left.w-100
                %span.regular-price.align-middle $75.00
                %span.old-price.align-middle $60.00
              .product-variants.float-left.w-100
                .col-md-4.col-sm-6.col-xs-12.size-options.d-flex.align-items-center
                  %h5 Size:
                  %select.form-control{name: "select"}
                    %option{selected: "selected", value: ""} Size
                    %option{value: "black"} Medium
                    %option{value: "white"} Large
                    %option{value: "gold"} Small
                    %option{value: "rose gold"} Extra large
                .color-option.d-flex.align-items-center
                  %h5 color :
                  %ul.color-categories
                    %li.active
                      %a.tt-pink{href: "#", title: "Pink"}
                    %li
                      %a.tt-blue{href: "#", title: "Blue"}
                    %li
                      %a.tt-yellow{href: "#", title: "Yellow"}
              .btn-cart.d-flex.align-items-center.float-left.w-100
                %h5 qty:
                %input{type: "number", value: "1"}/
                %button.btn.btn-primary{type: "button"}
                  %i.material-icons shopping_cart
                  Add To Cart
  / cart-pop modal
  #cart-pop.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header.alert-success
          %h4.modal-title.w-100w-100w-100 Product successfully added to your shopping cart
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .row
            .col-md-6.divide-right
              .row
                .col-md-5.col-xs-4.product-img.float-left
                  %img.img-responsive{alt: "01", src: asset_path('products/01.jpg')}/
                .col-md-7.col-xs-8.product-desc.float-left
                  %h4.product-title.text-capitalize aliquam quaerat voluptatem
                  .rating
                    .product-ratings
                      %span.fa.fa-stack
                        %i.material-icons star
                      %span.fa.fa-stack
                        %i.material-icons star
                      %span.fa.fa-stack
                        %i.material-icons star
                      %span.fa.fa-stack
                        %i.material-icons.off star
                      %span.fa.fa-stack
                        %i.material-icons.off star
                  %h3.price.float-left.w-100
                    %span.regular-price.align-middle $75.00
                    %span.old-price.align-middle $60.00
            .col-md-6.divide-left
              %p.cart-products-count There are 2 items in your cart.
              %p.total-products.float-left.w-100
                %strong Total products:
                $150.00
              %p.shipping.float-left.w-100
                %strong Total shipping:
                free
              %p.total-price.float-left.w-100
                %strong Total:
                $150.00(tax incl.)
              .cart-content-btn.float-left.w-100
                %form{action: "#"}
                  %input.btn.pull-right.mt_10.btn-primary{type: "submit", value: "Continue shopping"}/
                %form{action: "checkout_page.html"}
                  %input.btn.pull-right.mt_10.btn-primary{type: "submit", value: "Proceed to checkout"}/
  / Start of Tawk.to Script
  :javascript
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5ac1aabb4b401e45400e4197/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  / End of Tawk.to Script
