%body#category.category
  %nav.w-100.float-left{"aria-label" => "breadcrumb"}
    %ol.breadcrumb.parallax.justify-content-center{"data-source-url" => asset_path('banner/parallax.jpg'), style:"background-image: url('#{asset_path('banner/parallax.jpg')}'); background-position: 50% 0.809717%;"}
      %li.breadcrumb-item
        = link_to root_path do
          Home
      %li.breadcrumb-item.active{"aria-current" => "page"} category
  .main-content.w-100.float-left
    .container
      .row
        .content-wrapper.col-xl-9.col-lg-9.order-lg-2
          .block-category.mb-30.w-100.float-left
            .category-cover
              %img{alt: "category-banner", src: asset_path('banner/category-banner.png')}/
            .title-category.text-capitalize women
            .category-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sagittis, magna et euismod auctor,mauris ipsum interdum risus, a varius augue lacus id diam. Mauris maximus, ipsum at gravida sodales, purus tellustempor eros, a feugiat elit odio in nunc.
          .tab-content.text-center.products.w-100.float-left
            #grid.tab-pane.grid.fade.active{role: "tabpanel"}
              .row
                .product-layouts.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .product-thumb
                    .image.zoom
                      %a{href: "product-details.html"}
                        %img{alt: "01", src: asset_path('products/01.jpg')}/
                        %img.second_image.img-responsive{alt: "02", src: asset_path('products/01.jpg')}/
                    .thumb-description
                      .caption
                        %h4.product-title.text-capitalize
                          %a{href: "product-details.html"} aliquam quaerat voluptatem
                      .rating
                        .product-ratings.d-inline-block.align-middle
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                      .price
                        .regular-price $100.00
                        .old-price $150.00
                      .button-wrapper
                        .button-group.text-center
                          %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type: "button"}
                            %i.material-icons shopping_cart
                            %span Out of stock
                          %a.btn.btn-primary.btn-wishlist{href: "wishlist.html"}
                            %i.material-icons favorite
                            %span wishlist
                          %button.btn.btn-primary.btn-quickview{"data-target" => "#product_view", "data-toggle" => "modal", type:"button"}
                            %i.material-icons visibility
                            %span Quick View
                .product-layouts.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .product-thumb
                    .image.zoom
                      %a{href: "product-details.html"}
                        %img{alt: "02", src: asset_path('products/02.jpg')}/
                        %img.second_image.img-responsive{alt: "03", src: asset_path('products/02.jpg')}/
                    .thumb-description
                      .caption
                        %h4.product-title.text-capitalize.w-100.float-left
                          %a{href: "product-details.html"} aspetur autodit autfugit
                      .rating
                        .product-ratings.d-inline-block.align-middle
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                      .price
                        .regular-price $100.00
                        .old-price $150.00
                      .button-wrapper
                        .button-group.text-center
                          %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type: "button"}
                            %i.material-icons shopping_cart
                            %span Add to cart
                          %a.btn.btn-primary.btn-wishlist{href: "wishlist.html"}
                            %i.material-icons favorite
                            %span wishlist
                          %button.btn.btn-primary.btn-quickview{"data-target" => "#product_view", "data-toggle" => "modal", type:"button"}
                            %i.material-icons visibility
                            %span Quick View
                .product-layouts.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .product-thumb
                    .image.zoom
                      %a{href: "product-details.html"}
                        %img{alt: "03", src: asset_path('products/03.jpg')}/
                        %img.second_image.img-responsive{alt: "04", src: asset_path('products/03.jpg')}/
                    .thumb-description
                      .caption
                        %h4.product-title.text-capitalize
                          %a{href: "product-details.html"} magni dolores eosquies
                      .rating
                        .product-ratings.d-inline-block.align-middle
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                      .price
                        .regular-price $100.00
                        .old-price $150.00
                      .button-wrapper
                        .button-group.text-center
                          %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type: "button"}
                            %i.material-icons shopping_cart
                            %span Add to cart
                          %a.btn.btn-primary.btn-wishlist{href: "wishlist.html"}
                            %i.material-icons favorite
                            %span wishlist
                          %button.btn.btn-primary.btn-quickview{"data-target" => "#product_view", "data-toggle" => "modal", type:"button"}
                            %i.material-icons visibility
                            %span Quick View
                .product-layouts.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .product-thumb
                    .image.zoom
                      %a{href: "product-details.html"}
                        %img{alt: "04", src: asset_path('products/04.jpg')}/
                        %img.second_image.img-responsive{alt: "05", src: asset_path('products/04.jpg')}/
                    .thumb-description
                      .caption
                        %h4.product-title.text-capitalize.w-100.float-left
                          %a{href: "product-details.html"} voluptas nulla pariatur
                      .rating
                        .product-ratings.d-inline-block.align-middle
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                      .price
                        .regular-price $100.00
                        .old-price $150.00
                      .button-wrapper
                        .button-group.text-center
                          %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type: "button"}
                            %i.material-icons shopping_cart
                            %span Add to cart
                          %a.btn.btn-primary.btn-wishlist{href: "wishlist.html"}
                            %i.material-icons favorite
                            %span wishlist
                          %button.btn.btn-primary.btn-quickview{"data-target" => "#product_view", "data-toggle" => "modal", type:"button"}
                            %i.material-icons visibility
                            %span Quick View
                .product-layouts.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .product-thumb
                    .image.zoom
                      %a{href: "product-details.html"}
                        %img{alt: "05", src:asset_path('products/05.jpg')}/
                        %img.second_image.img-responsive{alt: "06", src: asset_path('products/05.jpg')}/
                    .thumb-description
                      .caption
                        %h4.product-title.text-capitalize
                          %a{href: "product-details.html"} aliquam quat voluptatem
                      .rating
                        .product-ratings.d-inline-block.align-middle
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                      .price
                        .regular-price $100.00
                        .old-price $150.00
                      .button-wrapper
                        .button-group.text-center
                          %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type: "button"}
                            %i.material-icons shopping_cart
                            %span Add to cart
                          %a.btn.btn-primary.btn-wishlist{href: "wishlist.html"}
                            %i.material-icons favorite
                            %span wishlist
                          %button.btn.btn-primary.btn-quickview{"data-target" => "#product_view", "data-toggle" => "modal", type:"button"}
                            %i.material-icons visibility
                            %span Quick View
                .product-layouts.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .product-thumb
                    .image.zoom
                      %a{href: "product-details.html"}
                        %img{alt: "06", src: asset_path('products/06.jpg')}/
                        %img.second_image.img-responsive{alt: "07", src: asset_path('products/06.jpg')}/
                    .thumb-description
                      .caption
                        %h4.product-title.text-capitalize
                          %a{href: "product-details.html"} voluptas sit aspernatur
                      .rating
                        .product-ratings.d-inline-block.align-middle
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                      .price
                        .regular-price $100.00
                        .old-price $150.00
                      .button-wrapper
                        .button-group.text-center
                          %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type: "button"}
                            %i.material-icons shopping_cart
                            %span Add to cart
                          %a.btn.btn-primary.btn-wishlist{href: "wishlist.html"}
                            %i.material-icons favorite
                            %span wishlist
                          %button.btn.btn-primary.btn-quickview{"data-target" => "#product_view", "data-toggle" => "modal", type:"button"}
                            %i.material-icons visibility
                            %span Quick View
                .product-layouts.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .product-thumb
                    .image.zoom
                      %a{href: "product-details.html"}
                        %img{alt: "03", src: asset_path('products/07.jpg')}/
                        %img.second_image.img-responsive{alt: "08", src: asset_path('products/07.jpg')}/
                    .thumb-description
                      .caption
                        %h4.product-title.text-capitalize
                          %a{href: "product-details.html"} similique suntin culpaqui
                      .rating
                        .product-ratings.d-inline-block.align-middle
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                      .price
                        .regular-price $100.00
                        .old-price $150.00
                      .button-wrapper
                        .button-group.text-center
                          %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type: "button"}
                            %i.material-icons shopping_cart
                            %span out of stock
                          %a.btn.btn-primary.btn-wishlist{href: "wishlist.html"}
                            %i.material-icons favorite
                            %span wishlist
                          %button.btn.btn-primary.btn-quickview{"data-target" => "#product_view", "data-toggle" => "modal", type:"button"}
                            %i.material-icons visibility
                            %span Quick View
                .product-layouts.col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .product-thumb
                    .image.zoom
                      %a{href: "product-details.html"}
                        %img{alt: "08", src: asset_path('products/08.jpg')}/
                        %img.second_image.img-responsive{alt: "09", src: asset_path('products/08.jpg')}/
                    .thumb-description
                      .caption
                        %h4.product-title.text-capitalize
                          %a{href: "product-details.html"} suscipit laboriosam nisi
                      .rating
                        .product-ratings.d-inline-block.align-middle
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                          %span.fa.fa-stack
                            %i.material-icons.off star
                      .price
                        .regular-price $100.00
                        .old-price $150.00
                      .button-wrapper
                        .button-group.text-center
                          %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type: "button"}
                            %i.material-icons shopping_cart
                            %span Add to cart
                          %a.btn.btn-primary.btn-wishlist{href: "wishlist.html"}
                            %i.material-icons favorite
                            %span wishlist
                          %button.btn.btn-primary.btn-quickview{"data-target" => "#product_view", "data-toggle" => "modal", type:"button"}
                            %i.material-icons visibility
                            %span Quick View
            #list.tab-pane.fade.list.text-left{role: "tabpanel"}
              .product-layouts
                .product-thumb.row
                  .image.zoom.col-xs-12.col-sm-5.col-md-4
                    %a.d-block.position-relative{href: "product-details.html"}
                      %img{alt: "01", src: asset_path('products/01.jpg')}/
                      %img.second_image.img-responsive{alt: "02", src: asset_path('products/01.jpg')}/
                  .thumb-description.col-xs-12.col-sm-7.col-md-8.position-static.text-left
                    .caption
                      %h4.product-title.text-capitalize
                        %a{href: "product-details.html"} aliquam quaerat voluptatem
                    .rating.mb-10
                      .product-ratings.d-inline-block.align-middle
                        %span.fa.fa-stack
                          %i.material-icons star
                        %span.fa.fa-stack
                          %i.material-icons star
                        %span.fa.fa-stack
                          %i.material-icons star
                        %span.fa.fa-stack
                          %i.material-icons.off star
                        %span.fa.fa-stack
                          %i.material-icons.off star
                    .description
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus arcu turpis, quis sagittis orci dictumnon. Etiam id eleifend erat. Donec sit amet nisl id nisi laoreet viverra in ac nibh.
                    .price
                      .regular-price $100.00
                      .old-price $150.00
                    .color-option.d-flex.align-items-center.float-left.w-100
                      %ul.color-categories
                        %li
                          %a.tt-pink{href: "#", title: "Pink"}
                        %li
                          %a.tt-blue{href: "#", title: "Blue"}
                        %li
                          %a.tt-yellow{href: "#", title: "Yellow"}
                    .button-wrapper
                      .button-group.text-center
                        %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", disabled:"disabled", type: "button"}
                          %i.material-icons shopping_cart
                          %span out of stock
                        %a.btn.btn-primary.btn-wishlist{href: "wishlist.html"}
                          %i.material-icons favorite
                          %span wishlist
                        %button.btn.btn-primary.btn-quickview{"data-target" => "#product_view", "data-toggle" => "modal", type:"button"}
                          %i.material-icons visibility
                          %span Quick View
        .left-column.sidebar.col-xl-3.col-lg-3.order-lg-1
          .sidebar-filter.left-sidebar.w-100.float-left
            .title
              %a.d-lg-none.block-toggler{"aria-controls" => "sidebar-main", "aria-expanded" => "false", "data-toggle" =>"collapse", href: "#sidebar-main"} Product Categories
            #sidebar-main.sidebar-main.collapse
              .sidebar-block.categories
                %h3.widget-title
                  %a{"aria-controls" => "categoriesMenu", "aria-expanded" => "true", "data-toggle" => "collapse", href:"#categoriesMenu", role: "button"} Categories
                #categoriesMenu.expand-lg.collapse.show
                  .nav.nav-pills.flex-column.mt-4
                    %a.nav-link.d-flex.justify-content-between.mb-2{href: "#"}
                      %span Men
                    %a.nav-link.d-flex.justify-content-between.mb-2.active{href: "#"}
                      %span Women
              -# .sidebar-block.price
              -#   %h3.widget-title
              -#     %a{"aria-controls" => "price", "aria-expanded" => "true", "data-toggle" => "collapse", href: "#price", role:"button"} Price
              -#   #price.collapse.show
              -#     .price-inner
              -#       %label{for: "amount"} Price range:
              -#       %input#amount{readonly: "readonly", style: "border:0; font-weight:bold; background:none;", type: "text"}/
              -#       #slider-range
              .sidebar-block.size
                %h3.widget-title
                  %a{"aria-controls" => "size", "aria-expanded" => "true", "data-toggle" => "collapse", href: "#size", role:"button"} Size
                #size.sidebar-widget-option-wrapper.collapse.show
                  .size-inner
                    .sidebar-widget-option
                      %input#size-1{type: "checkbox"}/
                      %label{for: "size-1"}
                        S
                    .sidebar-widget-option
                      %input#size-2{type: "checkbox"}/
                      %label{for: "size-2"}
                        M
                    .sidebar-widget-option
                      %input#size-3{type: "checkbox"}/
                      %label{for: "size-3"}
                        L
          .sidebar-left-banner.left-sidebar.w-100.float-left
            .ttleftbanner
              %a{href: "#"}
                %img{alt: "left-banner", src: asset_path('banner/left-banner.jpg')}/
          .sidebar-product.left-sidebar.w-100.float-left
            .title
              %a.d-lg-none.block-toggler{"aria-controls" => "sidebar-product", "aria-expanded" => "false", "data-toggle" =>"collapse", href: "#sidebar-product"} sale products
            #sidebar-product.collapse.w-100.float-left
              .sidebar-block.sale
                %h3.widget-title.text-capitalize sale products
                .products.owl-carousel
                  .sale-col
                    .product-layouts
                      .product-thumb
                        .image.col-sm-4.float-left
                          %a{href: "#"}
                            %img{alt: "01", src: asset_path('products/01.jpg')}/
                        .thumb-description.col-sm-8.text-left.float-left
                          .caption
                            %h4.product-title.text-capitalize
                              %a{href: "product-details.html"} aliquam quaerat voluptatem
                          .rating
                            .product-ratings.d-inline-block.align-middle
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons.off star
                              %span.fa.fa-stack
                                %i.material-icons.off star
                          .price
                            .regular-price $100.00
                            .old-price $150.00
                          .button-wrapper
                            .button-group.text-center
                              %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type:"button"}
                                %i.material-icons shopping_cart
                                %span Add to cart
                    .product-layouts
                      .product-thumb
                        .image.col-sm-4.float-left
                          %a{href: "#"}
                            %img{alt: "01", src: asset_path('products/02.jpg')}/
                        .thumb-description.col-sm-8.text-left.float-left
                          .caption
                            %h4.product-title.text-capitalize
                              %a{href: "product-details.html"} aspetur autodit autfugit
                          .rating
                            .product-ratings.d-inline-block.align-middle
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons.off star
                              %span.fa.fa-stack
                                %i.material-icons.off star
                          .price
                            .regular-price $100.00
                            .old-price $150.00
                          .button-wrapper
                            .button-group.text-center
                              %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type:"button"}
                                %i.material-icons shopping_cart
                                %span Add to cart
                    .product-layouts
                      .product-thumb
                        .image.col-sm-4.float-left
                          %a{href: "#"}
                            %img{alt: "03", src: asset_path('products/03.jpg')}/
                        .thumb-description.col-sm-8.text-left.float-left
                          .caption
                            %h4.product-title.text-capitalize
                              %a{href: "product-details.html"} magni dolores eosquies
                          .rating
                            .product-ratings.d-inline-block.align-middle
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons.off star
                              %span.fa.fa-stack
                                %i.material-icons.off star
                          .price
                            .regular-price $100.00
                            .old-price $150.00
                          .button-wrapper
                            .button-group.text-center
                              %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type:"button"}
                                %i.material-icons shopping_cart
                                %span Add to cart
                  .sale-col
                    .product-layouts
                      .product-thumb
                        .image.col-sm-4.float-left
                          %a{href: "#"}
                            %img{alt: "04", src: asset_path('products/04.jpg')}/
                        .thumb-description.col-sm-8.text-left.float-left
                          .caption
                            %h4.product-title.text-capitalize
                              %a{href: "product-details.html"} voluptas nulla pariatur
                          .rating
                            .product-ratings.d-inline-block.align-middle
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons.off star
                              %span.fa.fa-stack
                                %i.material-icons.off star
                          .price
                            .regular-price $100.00
                            .old-price $150.00
                          .button-wrapper
                            .button-group.text-center
                              %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type:"button"}
                                %i.material-icons shopping_cart
                                %span Add to cart
                    .product-layouts
                      .product-thumb
                        .image.col-sm-4.float-left
                          %a{href: "#"}
                            %img{alt: "05", src: asset_path('products/05.jpg')}/
                        .thumb-description.col-sm-8.text-left.float-left
                          .caption
                            %h4.product-title.text-capitalize
                              %a{href: "product-details.html"} aliquam quat voluptatem
                          .rating
                            .product-ratings.d-inline-block.align-middle
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons star
                              %span.fa.fa-stack
                                %i.material-icons.off star
                              %span.fa.fa-stack
                                %i.material-icons.off star
                          .price
                            .regular-price $100.00
                            .old-price $150.00
                          .button-wrapper
                            .button-group.text-center
                              %button.btn.btn-primary.btn-cart{"data-target" => "#cart-pop", "data-toggle" => "modal", type:"button"}
                                %i.material-icons shopping_cart
                                %span Add to cart
