!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fashion Template for Bootstrap
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "img/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Poppins:400,500,700,900", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}/
    / Bootstrap core CSS
    %link{href: "vendor/bootstrap/css/bootstrap.css", rel: "stylesheet"}/
    / Bootstrap core CSS
    %link{href: "css/styles.css", rel: "stylesheet"}/
    %link{href: "css/animate.css", rel: "stylesheet"}/
    %link{href: "css/owl-carousel.css", rel: "stylesheet"}/
    %link{href: "css/lightbox.css", rel: "stylesheet"}/
    / Custom styles for this template
  %body
    %nav.w-100.float-left{"aria-label" => "breadcrumb"}
      %ol.breadcrumb.parallax.justify-content-center{"data-source-url" => asset_path('banner/parallax.jpg'), style: "background-image: url('#{asset_path('banner/parallax.jpg')}'); background-position: 50% 0.809717%;"}
        %li.breadcrumb-item
          = link_to root_path do
            Home
        %li.breadcrumb-item.active{"aria-current" => "page"} contact us
    .main-content.w-100.float-left
      .container
        .row
          / Google map
          #map-container-google-1.z-depth-1-half.map-container.col-sm-12.mb-50{style: "height: 500px"}
            %iframe{allowfullscreen: "", frameborder: "0", height: "500", src: "https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d59512.74927226758!2d72.81491575568408!3d21.210153908095307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m5!1s0x3be04efc0f8687bd%3A0xc783857ba5d79622!2sTemplateTrip%2C+4030%2C+Central+Bazzar%2C+opp.+Varachha+Police+Station%2C+Varachha+Main+Road%2C+Surat%2C+Gujarat+395006!3m2!1d21.2100775!2d72.84993519999999!4m0!5e0!3m2!1sen!2sin!4v1565339377691!5m2!1sen!2sin", style: "border:0", width: "100%"}
          / Google Maps
          .contact-form-area.col-sm-7
            .contact-form-inner
              %h4.text-capitalize tell us your project
              %form#contact-form{method: "post"}
                .row
                  .col-md-12
                    %label.float-left{for: "name"}
                      First Name
                      %span.required *
                    %input#name.float-right{name: "name", required: "", type: "text"}/
                  .col-md-12
                    %label.float-left{for: "last_name"}
                      Last Name
                      %span.required *
                    %input#last_name.float-right{name: "last_name", required: "", type: "text"}/
                  .col-md-12
                    %label.float-left{for: "email"}
                      Email
                      %span.required *
                    %input#email.float-right{name: "email", required: "", type: "text"}/
                  .col-md-12
                    %label.float-left{for: "subject"}
                      Subject
                      %span.required *
                    %input#subject.float-right{name: "subject", required: "", type: "text"}/
                  .col-md-12
                    %label.float-left{for: "message"} Message
                    %textarea#message.float-right{name: "message"}
                %input.submit-btn.default-btn.btn-primary.btn{type: "submit", value: "Send Email"}/
                %p.form-messege
          .contact-address.col-sm-5
            .contact-inner.float-left.w-100
              .contact-information
                %h4.text-capitalize contact us
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu vehicula turpis. Donec semper, nunc a imperdiet sollicitudin, lacus arcu semper nibh, non fermentum risus est quis augue.
                .contact-wrapper
                  .contact-list
                    %i.material-icons place
                    %span Address :  4030, Central Bazzar, opp. Varachha Police Station, Varachha Main Road, Surat, Gujarat 395006, India
                  .contact-list
                    %i.material-icons call
                    %span demo@store.com
                  .contact-list
                    %i.material-icons email
                    %span 0(1234) 567 890
              .working-time
                %h5 Working hours
                %div
                  %div Monday – Saturday
                  %div 09AM – 07PM
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{src: "js/jquery.min.js"}
    %script{src: "js/bootstrap.min.js"}
    %script{src: "js/owl.carousel.min.js"}
    %script{src: "js/custom.js"}
    %script{src: "js/parallax.js"}
    %script{src: "js/lightbox-2.6.min.js"}
    %script{src: "js/ResizeSensor.min.js"}
    %script{src: "js/theia-sticky-sidebar.min.js"}
    %script{src: "js/inview.js"}
    %script{src: "js/cookiealert.js"}
    %script{src: "js/jquery.countdown.min.js"}
    %script{src: "js/masonry.pkgd.min.js"}
    %script{src: "js/imagesloaded.pkgd.min.js"}
    %script{src: "js/jquery.zoom.min.js"}
    / Start of Tawk.to Script
    :javascript
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5ac1aabb4b401e45400e4197/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    / End of Tawk.to Script
